@font-face {
    font-family: 'iconfont';  /* project id 1080485 */
    src: url('//at.alicdn.com/t/font_1080485_t6faumzd7df.eot');
    src: url('//at.alicdn.com/t/font_1080485_t6faumzd7df.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1080485_t6faumzd7df.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1080485_t6faumzd7df.woff') format('woff'),
    url('//at.alicdn.com/t/font_1080485_t6faumzd7df.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1080485_t6faumzd7df.svg#iconfont') format('svg');
  }

  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-search:before { content: "\e600"; }

  .icon-artboard9:before { content: "\e60d"; }