.homeNav{
  width: 100%;
  height: 80px;
  background-color: rgb(255,255,255);
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 5px;
  z-index: 999;
  /* color: #f10b99 */
}

